
body
	padding-top 100px;
	color white
	font-family 'Roboto', sans-serif;

.jumbotron

.navbar-header a.navbar-brand
	margin-top -15px
	margin-bottom -20px

footer
	padding-top 15px
	padding-left 15px
	padding-right 15px

	p
		border-top 1px solid black
.navbar-header
	margin:15px
.navbar-form
	.form-group
		margin-left 10px
	button
		margin-left 10px

.panel-body
	.row
		margin 10px

.toast-top-right
	top 70px
.toast-success
	background-color #13987e

body, html, main
	height 100%

.cd-fixed-log
	min-height 100%
	background-size cover
	background-attachment fixed
	background-repeat no-repeat
	background-position center center

.cd-fixed-bg.cd-bg-1
	background-image url("../img/background1.jpg")
	background-size: cover;
	background-position center
	background-repeat no-repeat


.cd-fixed-bg.cd-bg-2
	background-image url("../img/background2.jpg")
	background-size: cover;
	background-position center
	background-repeat no-repeat

.cd-fixed-bg.cd-bg-3
	background-image url("../img/background3.jpg")
	background-size: cover;
	background-position center
	background-repeat no-repeat

.cd-fixed-bg.cd-bg-4
	background-image url("../img/background4.jpg")
	background-size: cover;
	background-position center
	background-repeat no-repeat

.cd-scrolling-bg
	min-height 100%

.cd-color-2
	background-color #b4d7a8

.cd-color-3
	background-color #3d3536

.cd-color-1
	background-color #99a478

.cd-color-footer
		background-color black

.noPadding
	padding 0px

.textCenter
	text-align center

.textPara
	font-size 18px
	padding-bottom 20px
	padding-left 10px
	padding-right 10px

.pageBtn
	padding-top 30px
	padding-bottom 30px

.textTitle
	font-size 56px
	padding 20px

.textTitle1
	font-size 36px
	padding 20px

.textPara1
	font-size 16px
	padding-bottom 18px
	padding-left 8px
	padding-right 8px
