body
	padding-top 150px;


.navbar-header a.navbar-brand
	margin-top -15px
	margin-bottom -20px

footer
	padding-top 15px
	padding-left 15px
	padding-right 15px

	p
		border-top 1px solid black
.navbar-header
	margin:15px
.navbar-form
	.form-group
		margin-left 10px
	button
		margin-left 10px

.panel-body
	.row
		margin 10px

.toast-top-right
	top:70px
.toast-success
	background-color:#13987e
