.container
	h2 Admin Panel
	.panel.panel-default
		.panel-heading Add More Tables
		.panel-body
			.row
				.col-xs-6.col-sm-6.col-lg-3
					a.btn.btn-primary.btn-block(href="/areas") Add Area
				.col-xs-6.col-sm-6.col-lg-3
					a.btn.btn-primary.btn-block(href="/serviceCenters") Add Service Center
			.row
				.col-xs-6.col-sm-6.col-lg-3
					a.btn.btn-primary.btn-block(href="/slots") Add Slot
				.col-xs-6.col-sm-6.col-lg-3
					a.btn.btn-primary.btn-block(href="/customer") Add Customers
