.container
	form(name="create-customer" method="put")
		.row 
			.col-md-6
				.form-group
					label(for="area") Area*
					input.form-control(placeholder="Area", ng-model="area.name")
				.form-group
					label(for="no_service_center") No. of Service Centers
					input.form-control(placeholder="", ng-model="area.no_service_centers")
				.form-group
					label(for="no_dpersons") No. of Delivery Persons
					input.form-control(placeholder="", ng-model="area.no_dpersons")
						
		.row
			button.btn.btn-primary.btn-block(ng-click="edit1(area)") Submit
		



