.container
	
	form(name="create-customer" method="post")
		.row 
			.col-md-6
				.panel.panel-default
					.panel-heading Customer Details
					.panel-body 
						.form-group
							label(for="brand") Brand*
							select.form-control(ng-model="brand", ng-options="brand as brand.name for brand in brands track by brand.name")
						.form-group
							label(for="area") Area*
							select.form-control(ng-model="area", ng-options="area as area.name for area in areas track by area._id",ng-change="selectServiceCenter(area)")
						.form-group
							label(for="servicecenter") Service Center*
							select.form-control(ng-model="serviceCenterDetails", ng-options="serviceCenter as serviceCenter.name for serviceCenter in serviceCenters track by serviceCenter._id")
						.form-group
							label(for="name") Name*
							input.form-control(placeholder="Name", ng-model="customer.name")
						.form-group
							label(for="lname") Last Name
							input.form-control(placeholder="Last Name", ng-model="customer.lname")
						.form-group
							label(for="contact") Contact*
							input.form-control(placeholder="Contact", ng-model="customer.contact")
						.form-group
							label(for="alternate_conatct") Alternate Contact
							input.form-control(placeholder="Alternate Contact", ng-model="customer.alternate_contact")
			.col-md-6
				.panel.panel-default
					.panel-heading Bike Details
					.panel-body 
						
						.form-group
							label(for="passing") Passing*
							input.form-control(placeholder="Passing", ng-model="bike.passing")
						.form-group
							label(for="bikenumber") Bike Number*
							input.form-control(placeholder="Bike Number", ng-model="bike.bikenumber")
					
		.row
			.col-md-6
				.panel.panel-default
					.panel-heading Schedule Details
					.panel-body 
						.form-group
							label(for="pickupDate") Pickup Date
							p.input-group
								input.form-control(type='text',uib-datepicker-popup='',ng-model='dt',is-open='popup2.opened', datepicker-options='dateOptions', ng-required='true', close-text='Close')
								span.input-group-btn
									button.btn.btn-default(type='button', ng-click='open2()')
										i.glyphicon.glyphicon-calendar
						.form-group
							label(for="slot_time") Time slot*
							select.form-control(ng-model="slotDetails", ng-options="slot as slot.slot_time for slot in slots track by slot._id ")

						
			.col-md-6
				.panel.panel-default
					.panel-heading Address Details
					.panel-body 
						.form-group
							label(for="house") Address Line 1
							textarea.form-control(placeholder="Address", ng-model="customer.address.line1")
				
						.form-group
							label(for="landmark") Landmark
							input.form-control(placeholder="Landmark", ng-model="customer.address.landmark")
						.form-group
							label(for="area") Area*
							input.form-control(placeholder="Area", ng-model="customer.address.area")
						.form-group
							label(for="ciry") City*
							input.form-control(placeholder="City", ng-model="customer.address.city")
						.form-group
							label(for="state") State*
							input.form-control(placeholder="State", ng-model="customer.address.state")
		.row
			button.btn.btn-primary.btn-block(ng-click="create(customer,bike,dt,serviceCenterDetails,slotDetails,area,brand)") Submit
	script(type='text/javascript').
		$(function () {
		$('#datetimepicker11').datetimepicker({
		daysOfWeekDisabled: [0, 6],

		});
		});
		



