.container
	form(name="customerForm")
		.row
			.col-md-6
				.panel.panel-primary
					.panel-heading Customer Details
					.panel-body
						.form-group
							label(for="name") Name*
							input.form-control(type="text",name="name",placeholder="Name",ng-pattern="/^[a-zA-Z ]{1,25}$/", ng-model="customer.name", required)
							.alert.alert-danger(ng-show="customerForm.name.$error.pattern") Name can not have number or special characters
							.alert.alert-danger(ng-show="customerForm.name.$invalid && !customerForm.name.$pristine && !customerForm.name.$error.pattern") Name is required
						.form-group
							label(for="lname") Last Name
							input.form-control(type="text",name="lname",placeholder="Last Name",ng-pattern="/^[a-zA-Z ]{1,25}$/", ng-model="customer.lname",required)
							.alert.alert-danger(ng-show="customerForm.lname.$error.pattern") Last name can not have number or special characters
							.alert.alert-danger(ng-show="customerForm.lname.$invalid && !customerForm.lname.$pristine && !customerForm.lname.$error.pattern") Last name is required
						.form-group
							label(for="contact") Contact*
							input.form-control(type="number",name="contact", placeholder="Contact", ng-model="customer.contact",maxlength="10",minlength="10",required)
							.alert.alert-danger(ng-show="customerForm.contact.$error.pattern") Name can not have special characters or text
							.alert.alert-danger(ng-show="customerForm.contact.$invalid && !customerForm.contact.$pristine && !customerForm.contact.$error.pattern") Contact is required
						.form-group
							label(for="alternate_conatct") Alternate Contact
							input.form-control(type="number",name="alcontact",placeholder="Alternate Contact", ng-model="customer.alternate_contact",maxlength="10",minlength="10")
						.form-group
							label(for="email") Email*
							input.form-control(type="email",name="email",placeholder="Email", ng-model="customer.email", required)
							.alert.alert-danger(ng-show="customerForm.email.$error.pattern") Not a valid email
							.alert.alert-danger(ng-show="customerForm.email.$invalid && !customerForm.email.$pristine && !customerForm.email.$error.pattern") Email is required
						.form-group
							button.btn.btn-primary.btn-block(ng-disabled="customerForm.$invalid",ng-click="addCustomerData(customer,customerForm)") Next
