.nav.navbar-right(ng-controller="pndNavBarLoginCtrl")
	form.navbar-form(ng-hide="identity.isAuthenticated()")
		.form-group
			input.form-control(placeholder="Email", ng-model="user.username")
		.form-group
			input.form-control(type="password", placeholder="password", ng-model="user.password")
		button.btn.btn-primary(ng-click="signin(user)") Sign In
