.container-fluid
  .row
    .col-sm-6.col-md-4.col-sm-offset-2
      //img.img-circle.img-responsive.img-center(ng-src="{{user.profile.picture}}",alt="user Profile Picture")
      .row
        h3 Name : {{user.name}}
        h4 Email : {{user.email}}
        h4(ng-hide="user.address") You have no address
        h4(ng-show="user.address") Address: {{user.address}}
  .row
    h3
      button.btn.btn-primary(ng-click="logOut()") Log Out
