doctype
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet", href="/vendor/angular-bootstrap/ui-bootstrap-csp.css")
		link(rel="stylesheet", href="/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css")
		link(rel="stylesheet", href="/vendor/ng-dailog/css/ngDialog.min.css")
		link(rel="stylesheet", href="/vendor/ng-dailog/css/ngDialog-theme-default.min.css")
		link(rel="stylesheet", href="/vendor/toastr/toastr.css")
		link(rel="stylesheet", href="/css/main.css")
		base(href="/")
		title PND Services
	body(ng-app='pndApp')
		.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type="button",data-toggle="collapse", data-target="#myNav")
						span.sr-only Toggle Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="/") PND Services
				.navbar-collapse.collapse(id="myNav")
					ul.nav.navbar-nav
						li
							a.active(href="/") Home
						li
							a(href="/annual_packages") Anual Packages
						li
							a(href="/about") About
						li
							a(href='/blog') Blog
						li
							a(href="/feedback") How we did?
						li
							a(href="/admin") Admin
						li
							a(href="/schedules") Schedule
						li.dropdown
							a.dropdown-toggle(href="#",data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Admin Pages
								span.caret
							ul.dropdown-menu
								li
									a(href="/customer") Customer
								li
									a(href="/brands") Brands
								li
									a(href="/areas") Area Groups
								li
									a(href="/slots") Slots
								li
									a(href="/serviceCenters") Service Centers
								li
									a(href="/receipts") Create Receipt

					div(ng-include="'/partials/account/navbar-login'")

		block main-content

		include scripts

		footer.container.text-center
			p &copy; 2016 PND Services
