doctype 
html
	head
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet", href="/vendor/angular-bootstrap/ui-bootstrap-csp.css")
		link(rel="stylesheet", href="/vendor/toastr/toastr.css")
		link(rel="stylesheet", href="/css/main.css")
		base(href="/")
		title PND Services
	body(ng-app='pndApp')
		.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					a.navbar-brand(href="/") PND Services
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							a(href="/") Home
						li 
							a(href="/schedules") Schedule
						li.dropdown
							a.dropdown-toggle(href="#",data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Admin Pages
								span.caret
							ul.dropdown-menu
								li 
									a(href="/customer") Customer
								li 
									a(href="/brands") Brands
								li 
									a(href="/areas") Area Groups 
								li 
									a(href="/serviceCenters") Service Centers

					div(ng-include="'/partials/account/navbar-login'")
					
		block main-content

		include scripts

		footer.container.text-center
			p &copy; 2016 PND Services 


