h2.textCenter.textTitle1 Authorised Partners
.row
  .col-xs-8.col-xs-offset-2.col-sm-3.col-md-3
    .logoBox.logoBox1
  .col-xs-8.col-xs-offset-2.col-sm-3.col-md-3
    .logoBox.logoBox2
  .col-xs-8.col-xs-offset-2.col-sm-3.col-md-3
    .logoBox.logoBox3
  .col-xs-8.col-xs-offset-2.col-sm-3.col-md-3
    .logoBox.logoBox4
