h2.textCenter.textTitle1 Booking
.row
  .col-xs-12.col-sm-12.col-md-8.col-md-offset-2
    form.boxText
      .form-group
        label.labelText(for="name") Name*
        input.form-control(type="text",placeholder="Name",id="name", ng-model="name", required)
        label.labelText(for="contact") Contact*
        input.form-control(type="number",placeholder="Contact",id="contact", ng-model="contact", required)
        label.labelText(for="emial") Email*
        input.form-control(type="email",placeholder="Email",id="email", ng-model="email", required)
        label.labelText(for="addressLine") Address Line*
        input.form-control(type="text",placeholder="Address line 1",id="addressLine" ng-model="address.line1", required)
        label.labelText(for="landmark") Landmark
        input.form-control(type="text",placeholder="Landmark",id="landmark", ng-model="address.landmark")
        label.labelText(for="area") Area
        input.form-control(type="text",placeholder="Area",id="area",ng-model="address.area")
        label.labelText(for="bknumber") Bike Number*
        input.form-control(type="text",placeholder="Bike Number",id="bknumber", ng-model="bknumber")
        label.labelText(for="slotTime") Slot Time*
        select.form-control(ng-model="slot")
          option(ng-repeat="option in options",value="{{option}}"){{option}}
      .row
        .col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-4.col-md-3.col-md-offset-4.pageBtn
          button.btn.btn-lg.btn-block.btn-primary Submit
