.container
	.jumbotron
		h1 PND services
		p The fastest pickup and drop service for your Bike servicing
		button.btn.btn-primary Login
	.row
		.col-md-12
			div(ng-include="'/partials/main/how-it-works'")

		.col-md-12
			div(ng-include="'/partials/main/booking'")
		.col-md-12
			div(ng-include="'/partials/main/testimonials'")
		.col-md-12
			div(ng-include="'/partials/main/features'")
		.col-md-12
			div(ng-include="'/partials/main/authorisePartners'")
