h2.textCenter.textTitle1 Testimonials
.row
  .col-xs-12.col-sm-6.col-md-3
    .boxText
      h3.textCenter.clrText1 Feature-1
      span.glyphicon.glyphicon-comment.logoSize.clrText1
        h3.clrText1 Contact
      p.textPara1.testimonialText ""Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation""
  .col-xs-12.col-sm-6.col-md-3
    .boxText
      h3.textCenter.clrText1 Feature-2
      span.glyphicon.glyphicon-comment.logoSize.clrText1
        h3.clrText1 Contact
      p.textPara1.testimonialText "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation"

  .col-xs-12.col-sm-6.col-md-3
    .boxText
      h3.textCenter.clrText1 Feature-3
      span.glyphicon.glyphicon-comment.logoSize.clrText1
        h3.clrText1 Contact
      p.textPara1.testimonialText "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation"
  .col-xs-12.col-sm-6.col-md-3
    .boxText
      h3.textCenter.clrText1 Feature-4
      span.glyphicon.glyphicon-comment.logoSize.clrText1
        h3 Contact.clrText1
      p.textPara1.testimonialText "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation"
